<h1>Welcome to slackboard.</h1>
<ul>
  <li>
  <%= link_to "Posts per user", posts_path %>
  </li>
  <li>
  <%= link_to "Channel list", channels_path %>
  </li>
  <li>
  <%= link_to "User list", users_path %>
  </li>
  <li>
  <%= link_to "admin", rails_admin_path %>
  </li>
  </ul>
</ul>
